@CHARSET "UTF-8";
.crunchy-sharing {
	width  : 100%;
	clear  : both;
	margin : 30px 0px;
}

.crunchy-sharing-mobile-sticky-bottom {
	display  : block;
	position : fixed;
	width    : 100%;
	left     : 0;
	bottom   : 0;
	z-index  : 9999999;
	opacity  : 0;
}

.crunchy-sharing-mobile-sticky-bottom ul.crunchy-sharing-menu {
	list-style        : none;
	text-align        : center;
	margin            : 0;
	padding           : 0;
	display           : -webkit-box;
	display           : -webkit-flex;
	display           : -ms-flexbox;
	display           : flex;
	-webkit-flex-wrap : nowrap;
	-ms-flex-wrap     : nowrap;
	flex-wrap         : nowrap;
}

.crunchy-sharing-mobile-sticky-bottom ul.crunchy-sharing-menu li {
	flex            : 0 1 40px;
	height          : 40px;
	list-style-type : none;
}

.crunchy-sharing-mobile-sticky-bottom ul.crunchy-sharing-menu li a {
	color : #fff;
}

.crunchy-sharing-mobile-sticky-bottom ul.crunchy-sharing-menu li.newsletter {
	flex             : 1 1 auto;
	line-height      : 40px;
	position         : relative;
	background-color : #fafafa;
	background-image : repeating-linear-gradient(135deg, #ffe4e1 0px, #ffe4e1 5px, transparent 5px, transparent 10px, #e1f3ff 10px, #e1f3ff 15px, transparent 15px, transparent 20px);
}

.crunchy-sharing-mobile-sticky-bottom ul.crunchy-sharing-menu li.next {
	flex : 1 1 auto;
}

.crunchy-sharing span {
	display       : inline-block;
	font-weight   : bold;
	padding-right : 10px;
}

.crunchy-sharing span.top, .crunchy-sharing span.bottom {
	width         : 100%;
	font-size     : 90%;
	font-weight   : bold;
	margin-bottom : 10px;
}

.crunchy-sharing span.right {
	display     : inline;
	font-size   : 90%;
	font-weight : bold;
}

/* Icons Style */
.crunchify-crunchy-sharing-icon {
	margin      : 10px 10px 5px 5px;
	font-size   : 25px;
	line-height : 35px;
}

.crunchify-crunchy-sharing-icon:hover {
	cursor : pointer;
}

.crunchify-crunchy-sharing-icon-twitter {
	color : #00b6f1 !important;
}

.crunchify-crunchy-sharing-icon-facebook {
	color : #3b5998 !important;
}

.crunchify-crunchy-sharing-icon-pinterest {
	color : #cb2027 !important;
}

.crunchify-crunchy-sharing-icon-linkedin {
	color : #0077b5 !important;
}

.crunchify-crunchy-sharing-icon-whatsapp {
	color : #43d854 !important;
}

.crunchify-crunchy-sharing-icon-buffer {
	color   : #000000 !important;
	display : inline !important;
}

.crunchify-crunchy-sharing-icon-tumblr {
	color : #00405d !important;
}

.crunchify-crunchy-sharing-icon-mail {
	color : #424345 !important;
}

.crunchify-crunchy-sharing-icon-reddit {
	color : #ff4500 !important;
}

.crunchify-crunchy-sharing-icon-pocket {
	color : #ef4056 !important;
}

.crunchify-crunchy-sharing-icon-telegram {
	color : #0088cc !important;
}

.crunchify-crunchy-sharing-icon-ycombinator {
	color : #ff6d00 !important;
}

.crunchify-crunchy-sharing-icon-print {
	color : #4d4d4d !important;
}

/* Block Style */
.crunchify-crunchy-sharing-icon-block {
	margin    : 0px;
	font-size : 18px;
	padding   : 0px 20px;
	color     : #fff;
	display   : inline-block;
}

.crunchify-crunchy-sharing-icon-block:hover {
	color  : #fff;
	cursor : pointer;
}

.crunchify-crunchy-sharing-icon-block-twitter {
	background : #00b6f1;
}

.crunchify-crunchy-sharing-icon-block-twitter:hover {
	background : #008fbe !important;
}

.crunchify-crunchy-sharing-icon-block-buffer {
	background : #000;
}

.crunchify-crunchy-sharing-icon-block-buffer:hover {
	background : #232c39 !important;
}

.crunchify-crunchy-sharing-icon-block-facebook {
	background : #3b5998;
}

.crunchify-crunchy-sharing-icon-block-facebook:hover {
	background : #2d4373 !important;
}

.crunchify-crunchy-sharing-icon-block-pinterest {
	background : #cb2027;
}

.crunchify-crunchy-sharing-icon-block-pinterest:hover {
	background : #9f191f !important;
}

.crunchify-crunchy-sharing-icon-block-linkedin {
	background : #007bb6;
}

.crunchify-crunchy-sharing-icon-block-linkedin:hover {
	background : #005983 !important;
}

.crunchify-crunchy-sharing-icon-block-whatsapp {
	background : #43d854;
}

.crunchify-crunchy-sharing-icon-block-whatsapp:hover {
	background : #37b546 !important;
}

.crunchify-crunchy-sharing-icon-block-tumblr {
	background : #00405d;
}

.crunchify-crunchy-sharing-icon-block-tumblr:hover {
	background : #012e42 !important;
}

.crunchify-crunchy-sharing-icon-block-mail {
	background : #424345;
}

.crunchify-crunchy-sharing-icon-block-mail:hover {
	background : #292a2b !important;
}

.crunchify-crunchy-sharing-icon-block-reddit {
	background : #ff4500;
}

.crunchify-crunchy-sharing-icon-block-reddit:hover {
	background : #e23f02 !important;
}

.crunchify-crunchy-sharing-icon-block-pocket {
	background : #ef4056;
}

.crunchify-crunchy-sharing-icon-block-pocket:hover {
	background : #c53446 !important;
}

.crunchify-crunchy-sharing-icon-block-telegram {
	background : #0088cc;
}

.crunchify-crunchy-sharing-icon-block-telegram:hover {
	background : #006ba0 !important;
}

.crunchify-crunchy-sharing-icon-block-ycombinator {
	background : #ff6d00;
}

.crunchify-crunchy-sharing-icon-block-ycombinator:hover {
	background : #e26305 !important;
}

.crunchify-crunchy-sharing-icon-block-print {
	background : #4d4d4d;
}

.crunchify-crunchy-sharing-icon-block-print:hover {
	background : #343434 !important;
}

.float-block {
	line-height : 32px;
	font-size   : 16px;
	padding     : 2px 20px;
}

/* Block-Square Style */
.crunchify-crunchy-sharing-icon-block-square {
	margin    : 0px;
	font-size : 18px;
	padding   : 5px 12px;
	color     : #fff;
	display   : inline-block;
}

.crunchify-crunchy-sharing-icon-block-square:hover {
	color  : #fff;
	cursor : pointer;
}

.float-block-square {
	font-size   : 16px;
	padding     : 2px 12px;
	line-height : 32px;
}

/* Button Style */
.crunchify-crunchy-sharing-icon-button {
	margin        : 0px 3px 2px 0px;
	font-size     : 18px;
	padding       : 4px 20px;
	color         : #fff;
	border-radius : 20px;
	display       : inline-block;
	line-height   : 24px;
}

.crunchify-crunchy-sharing-icon-button:hover {
	color  : #fff;
	cursor : pointer;
}

/* Rounded Style */
.crunchify-crunchy-sharing-icon-round {
	margin      : 0px;
	font-size   : 18px;
	padding     : 3px 20px;
	color       : #fff;
	display     : inline-block;
	line-height : 25px;
}

.crunchify-crunchy-sharing-icon-round:hover {
	color  : #fff;
	cursor : pointer;
}

.crunchify-crunchy-sharing-icon-round:first-of-type {
	border-radius : 100px 0 0 100px;
}

.crunchify-crunchy-sharing-icon-round:last-of-type {
	border-radius : 0 100px 100px 0;
}

/* Bar Style */
.crunchify-crunchy-sharing-icon-bar {
	margin    : 0px;
	font-size : 15px;
	padding   : 6px 15px;
	color     : #fff;
	display   : inline-block;
}

.crunchify-crunchy-sharing-icon-bar:hover {
	color  : #fff;
	cursor : pointer;
}

.crunchify-crunchy-sharing-icon-bar:first-of-type {
	border-radius : 5px 0 0 5px;
}

.crunchify-crunchy-sharing-icon-bar:last-of-type {
	border-radius : 0 5px 5px 0;
}

.bar-style {
	margin                  : 0px 0px 0px 10px;
	font-weight             : normal !important;
	-webkit-font-smoothing  : none;
	-moz-osx-font-smoothing : grayscale;
	letter-spacing          : 0px;
	display                 : inline-block;
}

/* Circle Style */
.crunchify-crunchy-sharing-icon-circle {
	margin        : 0px 3px 1px 0px;
	font-size     : 17px;
	padding       : 8px 13px;
	color         : #fff;
	border-radius : 50%;
	display       : inline-block;
	line-height   : 25px;
}

.crunchify-crunchy-sharing-icon-circle:hover {
	color  : #fff;
	cursor : pointer;
}

.crunchify-crunchy-sharing-icon-circle .fab {
	min-width  : 15px;
	text-align : center;
}

.float-circle {
	padding     : 5px 13px;
	line-height : 32px;
}

/* Simple Style */
.crunchify-crunchy-sharing-icon-simple {
	color         : #666;
	border        : 1px solid #666;
	border-radius : 50%;
	padding       : 0px 9px;
	line-height   : 35px;
	background    : #fff;
	margin        : 1px;
	display       : inline-block;
}

.crunchify-crunchy-sharing-icon-simple:hover {
	cursor     : pointer;
	background : #f0f0f0 !important;
	color      : #666 !important;
}

.crunchify-crunchy-sharing-icon-simple .fab {
	min-width  : 15px;
	text-align : center;
}

.float-simple {
	padding     : 2px 9px;
	margin      : 0px;
	line-height : 32px;
}

#crunchy-sharing-float {
	opacity    : 0;
	transition : opacity 0.5s ease-in-out;
}

.crunchy-floating-icon-bar {
	position          : fixed;
	-webkit-transform : translateY(-50%);
	-ms-transform     : translateY(-50%);
	transform         : translateY(-50%);
	z-index           : 999999;
}

.crunchy-floating-icon-bar a {
	display    : block;
	text-align : center;
	transition : all 0.3s ease;
}

.crunchify-crunchy-sharing-icon:focus, .crunchify-crunchy-sharing-icon-block-square:focus,
.crunchify-crunchy-sharing-icon-button:focus, .crunchify-crunchy-sharing-icon-round:focus, .crunchify-crunchy-sharing-icon-bar:focus,
.crunchify-crunchy-sharing-icon-circle:focus, crunchify-crunchy-sharing-icon-simple:focus {
	color : #fff !important;
}

.crunchify-crunchy-sharing-icon-block:focus {
	color : #444 !important;
}

@media only screen and (max-width : 600px) {
	.hide-on-mobile {
		display : none !important
	}
	
	.crunchy-floating-icon-bar {
		bottom     : 0;
		width      : 100%;
		transform  : none;
		top        : auto;
		text-align : center;
		display    : flex;
		left       : 0;
		right      : 0;
	}
	
	.crunchy-floating-icon-bar a {
		display : initial;
		margin  : auto;
	}
	
	.crunchy-sharing-mobile-sticky-bottom ul.crunchy-sharing-menu li {
		flex        : 0 1 50%;
		height      : 30px;
		padding-top : 1px;
		margin      : auto;
	}
	
	.crunchy-sharing-mobile-sticky-bottom {
		opacity    : 1;
		background : #fff;
	}
	
	.crunchify-crunchy-sharing-icon-round {
		font-size : 15px;
		padding   : 1px 16px;
	}
}
