/* Typography
---------------------------------------------------------------------------- */

.site-container p.has-drop-cap:not(:focus)::first-letter {
	font-size: 7.5em;
	margin: 0.16em 0.08em 0 -0.035em;
}

.authority-text-align {
	text-align: center;
}

.bold-heading-text {
	font-size: 32px;
	letter-spacing: -0.02em;
	line-height: 1;
	margin-bottom: 20px;
}

.brand-logos figure,
.brand-logos .wp-block-image {
	margin-bottom: 0;
}

.logos-section-header {
	color: #111;
	font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	letter-spacing: 0.1em;
	line-height: 1.5;
	margin-bottom: 30px;
	margin-top: 10px;
	text-transform: uppercase;
}

@media only screen and (min-width: 600px) {

	.authority-text-align {
		text-align: left;
	}

}

@media only screen and (min-width: 860px) {

	.bold-heading-text {
		font-size: 42px;
	}

}

@media only screen and (min-width: 1075px) {

	.bold-heading-text {
		font-size: 52px;
		margin-left: 0;
		margin-bottom: 35px;
		margin-top: 60px;
	}

	.block-content-indent,
	.wp-block-buttons .block-content-indent {
		margin-left: 35px;
	}

}

/* Paragraphs
---------------------------------------------------------------------------- */

.alignfull:not(.has-background) .wp-block-group__inner-container > p:not(.has-background-color) {
	padding-left: 30px;
	padding-right: 30px;
}


/* Background Color
---------------------------------------------------------------------------- */

.site-container p.has-background {
	padding: 25px 30px;
}

.site-container p.has-text-color a,
.site-container p.has-background a {
	color: inherit;
}

.site-container p.has-text-color a:focus,
.site-container p.has-background a:focus,
.site-container p.has-text-color a:hover,
.site-container p.has-background a:hover {
	color: inherit;
}

/* Alignment
---------------------------------------------------------------------------- */

.wp-block-button.alignleft,
.wp-block-buttons.alignleft,
.wp-block-cover.alignleft,
.wp-block-image .alignleft {
	margin-right: 2em;
}

.wp-block-button.alignright,
.wp-block-buttons.alignright,
.wp-block-cover.alignright,
.wp-block-image .alignright {
	margin-left: 2em;
}

.wp-block-image.alignwide,
.wp-block-image.alignfull,
.wp-block-embed.alignwide,
.wp-block-embed.alignfull {
	margin-bottom: 2em;
}

.full-width-content .entry-content > .alignfull {
	margin-left: calc(-100vw / 2 + 100% / 2);
	margin-right: calc(-100vw / 2 + 100% / 2);
	max-width: 100vw;
}

.full-width-content .entry-content > .wp-block-table.alignfull {
	margin-left: calc(-100vw / 2 + 100% / 2);
	margin-right: calc(-100vw / 2 + 100% / 2);
	width: 100vw;
}

.content-sidebar .site-container .alignfull,
.sidebar-content .site-container .alignfull {
	margin: 0 0 2em;
	width: 100%;
}

.has-text-align-center {
	text-align: center;
}

.has-text-align-left {
	text-align: left;
}

.has-text-align-right {
	text-align: right;
}

/* Columns
---------------------------------------------------------------------------- */

.site-container .wp-block-columns {
	margin-bottom: 30px;
}

.site-container .wp-block-columns.alignfull {
	padding: 0 30px;
}

.wp-block-column {
	position: relative;
}

/* Cover Image
--------------------------------------------- */

.full-width-content .entry-content > .wp-block-cover.alignfull {
	width: 100vw;
}

.site-container .wp-block-cover .wp-block-cover-text {
	font-size: 36px;
}

/* Buttons
---------------------------------------------------------------------------- */

.ab-button,
.wp-block-button .wp-block-button__link {
	transition: background-color 0.25s ease-in, border-color ease-in, transform 0.75s cubic-bezier(0.44, 0.51, 0.24, 0.99), box-shadow 1s cubic-bezier(0.44, 0.51, 0.24, 0.99);
}

.site-container .ab-button {
	background-color: #000cff;
	font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
	font-weight: 700;
	transform: translate3d(0, 0, 0);
}

.site-container .wp-block-button .wp-block-button__link {
	background-color: #000cff;
	border: none;
	border-radius: 0;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.24);
	color: #fff;
	cursor: pointer;
	font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
	font-size: 16px;
	padding: 16px 24px;
	transform: translate3d(0, 0, 0);
	white-space: normal;
	width: auto;
}

/* Button Variations */
.site-container .wp-block-button.is-style-outline .wp-block-button__link {
	background-color: transparent;
	border: 2px solid currentColor;
	padding: 14px 28px;
}

.site-container .ab-button:focus,
.site-container .ab-button:hover,
.site-container .wp-block-button .wp-block-button__link:focus,
.site-container .wp-block-button .wp-block-button__link:hover,
.site-container .wp-block-button.is-style-outline .wp-block-button__link:focus,
.site-container .wp-block-button.is-style-outline .wp-block-button__link:hover {
	box-shadow: inset 0 0 200px rgba(230, 230, 230, 0.25), 0 6px 24px rgba(0, 0, 0, 0.14);
	transform: translate3d(0, -3px, 0);
}

/* Media and Image Blocks
---------------------------------------------------------------------------- */

.wp-block-image.image-border img {
	border: 10px solid #fff;
	box-shadow: 0 20px 80px rgba(0, 0, 0, 0.2);
}

.wp-block-image.stylized-background img {
	max-width: 400px;
	width: 100%;
}

.wp-block-media-text {
	position: relative;
}

.wp-block-media-text .wp-block-media-text__media img {
	box-shadow: 0 20px 80px rgba(0, 0, 0, 0.2);
	border: 10px solid #fff;
	max-width: 400px;
	vertical-align: middle;
	width: 100%;
}

.wp-block-media-text .wp-block-media-text__media > * {
	margin-left: 0;
}

@media only screen and (min-width: 860px) {

	.wp-block-image.stylized-background {
		padding: 0 40px;
	}

	.wp-block-media-text .wp-block-media-text__content {
		margin-left: 20%;
		padding: 0;
	}

	.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
		margin-left: 0;
		margin-right: 20%;
	}

	.wp-block-media-text .wp-block-media-text__media > * {
		margin-left: 40px;
	}

	.wp-block-image.stylized-background::before {
		background: #f4f4f4;
		content: "";
		display: block;
		right: 0;
		height: calc(100% - 190px);
		position: absolute;
		top: 50px;
		width: 142%;
		z-index: -1;
	}

	.wp-block-media-text .wp-block-media-text__media::before {
		background: #f4f4f4;
		content: "";
		display: block;
		left: 0;
		height: calc(100% - 100px);
		position: absolute;
		top: 50px;
		width: 70%;
		z-index: -1;
	}

	.wp-block-image.stylized-background::after,
	.wp-block-media-text .wp-block-media-text__media::after {
		background-color: #000cff;
		content: "";
		display: block;
		height: 5px;
		position: absolute;
		left: 0;
		top: 105px;
		transform: translateX(-50%);
		width: 40px;
	}

	.wp-block-image.stylized-background::before,
	.wp-block-media-text.has-media-on-the-right .wp-block-media-text__media::before {
		right: 0;
		left: auto;
	}

	.wp-block-image.stylized-background::after,
	.wp-block-media-text.has-media-on-the-right .wp-block-media-text__media::after {
		right: -35px;
		left: auto;
		transform: translateX(-50%);
	}

	.wp-block-media-text.has-media-on-the-right .wp-block-media-text__media > * {
		margin-left: -40px;
	}

	.wp-block-media-text.has-media-on-the-right .wp-block-media-text__media video {
		margin-left: -90px;
	}

}

@media only screen and (min-width: 1075px) {

	.full-width-content .wp-block-media-text .wp-block-media-text__media > * {
		margin-left: 90px;
	}

	.full-width-content .wp-block-media-text.has-media-on-the-right .wp-block-media-text__media > * {
		margin-left: -40px;
	}

}

@media only screen and (max-width: 782px) {

	.wp-block-image.stylized-background figure {
		float: none;
		margin: 0 auto;
		text-align: center;
		width: 100%;
	}

}

@media only screen and (max-width: 600px) {

	.wp-block-media-text .wp-block-media-text__media {
		margin-bottom: 60px;
		text-align: center;
	}

	.wp-block-media-text.is-stacked-on-mobile.has-media-on-the-right .wp-block-media-text__content {
		-ms-grid-column: 1;
		grid-column: 1;
		-ms-grid-row: 2;
		grid-row: 2;
	}

	.wp-block-media-text.is-stacked-on-mobile.has-media-on-the-right .wp-block-media-text__media {
		-ms-grid-column: 1;
		grid-column: 1;
		-ms-grid-row: 1;
		grid-row: 1;
	}

	.wp-block-media-text .wp-block-media-text__content {
		margin: 0 0 40px 0;
		text-align: center;
	}

}

/* Blockquotes and captions
---------------------------------------------------------------------------- */

.site-container .wp-block-pullquote blockquote::before,
.site-container .wp-block-pullquote.alignwide blockquote::before,
.site-container .wp-block-quote::before {
	color: #ccc;
	content: "\201C";
	display: block;
	font-family: "Libre Baskerville", Georgia, serif;
	font-size: 40px;
	font-style: italic;
	font-weight: 500;
	height: 0;
	left: -0.5em;
	line-height: 1;
	position: relative;
	text-align: left;
	top: 0;
}

.site-container .wp-block-pullquote.alignwide blockquote::before,
.site-container .wp-block-quote.is-style-large::before {
	font-size: 80px;
	top: -10px;
}

.site-container .wp-block-pullquote blockquote::before {
	font-size: 60px;
	height: 1em;
	left: 0;
	text-align: center;
}

.site-container .wp-block-pullquote.is-style-solid-color blockquote::before {
	color: #fff;
	padding-top: 16px;
}

.site-container .wp-block-pullquote blockquote.has-text-color::before {
	color: currentColor;
}

.site-container .wp-block-quote {
	border: none;
	margin: 35px;
}

.site-container .wp-block-pullquote {
	border: none;
	margin: 24px 0 36px;
}

.wp-block-pullquote.alignleft {
	margin: 0 2em 1.5em 0;
}

.wp-block-pullquote.alignright {
	margin: 0 0 1.5em 2em;
}

.site-container .wp-block-pullquote.is-style-solid-color blockquote {
	max-width: 80%;
}

.site-container .wp-block-pullquote.is-style-solid-color:not(.has-text-color) blockquote {
	color: #fff;
}

.site-container .wp-block-quote:not(.is-large):not(.is-style-large) {
	border: none;
}

.site-container .wp-block-pullquote:not(.is-style-solid-color)[style*="border-color"] {
	border: 2px solid;
	border-left: none;
	border-right: none;
}

.site-container .wp-block-quote p,
.site-container .wp-block-pullquote p {
	color: inherit;
	font-size: 18px;
	font-style: italic;
	line-height: 1.8;
	margin-bottom: 42px;
}

.site-container .wp-block-pullquote p {
	text-align: center;
}

.site-container .wp-block-pullquote p,
.site-container .wp-block-pullquote.is-style-solid-color blockquote p,
.site-container .wp-block-quote.is-style-large p {
	font-size: 22px;
}

.site-container .wp-block-quote cite,
.site-container .wp-block-pullquote cite {
	display: block;
	font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 900;
	letter-spacing: 0.08em;
	margin-top: -25px;
	text-align: inherit;
	text-transform: uppercase;
}

.site-container .wp-block-pullquote cite {
	margin-top: 40px;
	text-align: center;
}

.site-container .wp-block-pullquote.is-style-solid-color cite {
	text-transform: uppercase;
}

.site-container .wp-block-quote[class*="align"] cite,
.site-container .wp-block-pullquote[class*="align"] cite {
	text-align: center;
}

.wp-block-image.vertical-caption img {
	margin-right: 0;
}

.wp-block-image.vertical-caption figcaption {
	margin-top: 0;
	transform: none;
	text-align: center;
}

.wp-block-image.vertical-caption figcaption a {
	color: #111;
	text-decoration: none;
}

.wp-block-image.vertical-caption figcaption a:focus,
.wp-block-image.vertical-caption figcaption a:hover {
	color: #000cff;
}

.blocks-gallery-caption {
	width: 100%;
}

.blocks-gallery-item figcaption {
	margin-bottom: 0;
}

@media only screen and (max-width: 800px) {

	.site-container .wp-block-quote::before,
	.site-container .wp-block-pullquote blockquote::before {
		position: relative;
		left: -8px;
		height: 1em;
		top: auto;
	}

}

@media only screen and (min-width: 1360px) {

	.wp-block-image.vertical-caption img {
		margin-right: 30px;
	}

	.wp-block-image.vertical-caption figcaption {
		margin-top: 10px;
		transform: rotateZ(-90deg) translateX(100%);
		transform-origin: right bottom;
	}

}

/* Category Block
---------------------------------------------------------------------------- */

.site-container .wp-block-categories {
	margin-left: 0;
	padding-left: 0;
}

.site-container .wp-block-categories li {
	list-style-type: none;
}

.site-container .wp-block-categories.aligncenter {
	text-align: center;
}

.site-container .wp-block-categories.alignfull {
	padding: 0 30px;
}

.site-container .wp-block-categories .children {
	padding-left: 30px;
}

/* Latest Posts Block
---------------------------------------------------------------------------- */

.site-container .wp-block-latest-posts {
	margin-left: 0;
	padding-left: 0;
}

.site-container .wp-block-latest-posts li {
	list-style-type: none;
}

.site-container .wp-block-latest-posts.aligncenter {
	text-align: center;
}

.site-container .wp-block-latest-posts.alignfull {
	padding: 0 30px;
}

/* Other Blocks
---------------------------------------------------------------------------- */

.wp-block-verse,
.wp-block-preformatted {
	font-size: 16px;
}

.wp-block-preformatted {
	white-space: pre-wrap;
}

hr.wp-block-separator {
	border: none;
	border-bottom: 1px solid currentColor;
	color: #eee;
	margin: 1.65em auto;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: 100px;
}

.wp-block-separator.is-style-dots {
	color: #111;
}

.wp-block-table.is-style-stripes {
	border-bottom-width: 0;
}

.wp-block-audio audio {
	display: inline-block;
	width: 100%;
}

.site-container .blocks-gallery-grid {
	padding-left: 0;
}

.site-container .wp-block-social-links {
	margin-left: 0;
	padding-left: 0;
}

/* Atomic Blocks
---------------------------------------------------------------------------- */

.ab-block-post-grid .is-grid,
.ab-block-post-grid .is-list .entry {
	grid-gap: 0 4.5em;
}

.ab-block-post-grid .is-grid .entry {
	margin-left: unset;
	margin-right: unset;
	min-width: 0;
}

.ab-block-newsletter form {
	margin-left: 0;
	position: relative;
}

.ab-block-newsletter-label,
.ab-newsletter-email-address-label {
	color: #707070;
	display: block;
	font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 0.08em;
	margin-top: 24px;
	text-transform: uppercase;
}

.ab-block-newsletter input:not([type="submit"]) {
	background: #fff;
	border: 1px solid #f4f4f4;
	box-shadow: 0 10px 60px rgba(0, 0, 0, 0.14);
	padding: 23px 24px;
	-webkit-appearance: none;
	transition: box-shadow 0.15s cubic-bezier(0.44, 0.51, 0.24, 0.99);
}

.ab-block-newsletter input:not([type="submit"]):focus {
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
}

.ab-block-newsletter.inline-submit .ab-newsletter-submit {
	bottom: 8px;
	font-size: 16px;
	margin-bottom: 16px;
	padding: 16px 20px;
	position: absolute;
	right: 8px;
	text-align: center;
	width: auto;
}

.ab-pricing-table-price,
.ab-pricing-table-title {
	font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}

.ab-pricing-table-price strong {
	font-weight: 900;
}

.ab-pricing-table-title strong {
	font-weight: 700;
}

.pricing-featured .ab-block-pricing-table-inside {
	box-shadow: 0 20px 80px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 600px) {

	.ab-block-newsletter input:not([type="submit"]) {
		text-align: center;
	}

	.ab-block-newsletter.inline-submit .ab-newsletter-submit {
		padding: 20px 24px;
		position: static;
		width: 100%;
	}

}

/* Media Queries
---------------------------------------------------------------------------- */

@media only screen and (max-width: 781px) {

	.site-container .wp-block-column {
		flex-basis: 100%;
		margin-left: 0;
		margin-right: 0;
	}

}

@media only screen and (min-width: 860px) {

	.full-width-content .entry-content > .alignwide {
		margin-left: -60px;
		margin-right: -60px;
		max-width: 800px;
		width: auto;
	}

	.full-width-content .entry-content > .wp-block-table.alignwide {
		width: calc(100% + 520px);
	}

}

@media only screen and (min-width: 860px) {

	.full-width-content .entry-content > .alignwide {
		margin-left: -60px;
		margin-right: -60px;
		max-width: 800px;
		width: auto;
	}

}

@media only screen and (min-width: 1075px) {

	.full-width-content .entry-content > .alignwide {
		margin-left: -140px;
		margin-right: -140px;
		max-width: 960px;
		width: auto;
	}

}

@media only screen and (min-width: 1250px) {

	.full-width-content .entry-content > .alignwide {
		margin-left: -230px;
		margin-right: -230px;
		max-width: 1140px;
		width: auto;
	}

}

@media only screen and (min-width: 1360px) {

	.full-width-content .entry-content > .alignwide {
		margin-left: -260px;
		margin-right: -260px;
		max-width: 1200px;
		width: auto;
	}

	.alignfull .alignwide,
	.alignwide .alignwide {
		max-width: 1200px;
		margin: 0 auto;
	}

}
