.twitter-typeahead {
    width: 100%;
}

/* UPDATE: newer versions use tt-input instead of tt-query */
/*.tt-query, .tt-input, .tt-hint {
    width: inherit;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    outline: none;
}*/

.tt-hint {
    color: #999;
}

.tt-menu, .tt-dropdown-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 100%;
    margin-top: 2px;
    padding: 8px 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    overflow-y: auto;
    max-height: 17em;
}

.tt-suggestion {
    padding: 10px 5px;
    font-size: 15px;
    line-height: 1.42857143;
    cursor: pointer;
}

.tt-suggestion.tt-is-under-cursor,
.tt-suggestion.tt-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    background-color: #dadad7;
}

.tt-suggestion p {
    margin: 0;
}

